@import "tailwindcss";
/* @plugin "daisyui" {
    themes: light --default, night --prefersdark, ;
} */

@plugin "daisyui" {
    themes: light --default,
    dark,
    cupcake,
    bumblebee,
    emerald,
    corporate,
    synthwave,
    retro,
    cyberpunk,
    valentine,
    halloween,
    garden,
    forest,
    aqua,
    lofi,
    pastel,
    fantasy,
    wireframe,
    black,
    luxury,
    dracula,
    cmyk,
    autumn,
    business,
    acid,
    lemonade,
    night --prefersdark,
    coffee,
    winter,
    dim,
    nord,
    sunset;
}